<div class="card my-border m-4">
    <div class="card-body">
        <h1 class="card-title text-center">About Me</h1>
        <div class="container d-flex justify-content-around align-items-center my-container">
            {{!-- <div class="container flex-row flex-wrap"> --}}
            <p class="text-justify mr-4">Hello, my name is Daniela, I'm currently a student at <em>Tecnológico de
                    Costa Rica.</em> I
                developed this web application to learn mongodb, node.js, express.js, handlebars.js, passport.js, etc.
                This is a nice pink web application where you can create an account, log in and keep track of your
                notes, reminders or tasks. I hope you like this app.<br> This app was inspired by this <a
                    href="https://bit.ly/3c0GFsv" class="my-a">video</a>, you can check it out if you want (:<br>If you want to
                contact me, email me at daniatvm@gmail.com</p>
            <figure>
                <img src="img/Daniela.jpg" alt="Author of website" class="my-img rounded">
            </figure>
        </div>
    </div>
</div>