<div class="jumbotron my-border m-4">
    <h1 class="text-center">Stunning Notes with Node.js & Mongodb</h1>
    <hr>
    <p>
        Preview of your notes, if you want to start storing your own, create an account.
    </p>
    <div class="row">
        <div class="col-sm-4">
            <div class="card my-border mb-3 my-card">
                <div class="card-body d-flex flex-column">
                    <h4 class="card-title d-flex justify-content-between">
                        Wash <i class="fas fa-pen-square pl-2"></i>
                    </h4>
                    <p>Wash clothes next friday.</p>
                    <button type="button" class="btn btn-outline-primary btn-block btn-sm mt-auto">
                        Delete
                    </button>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card my-border mb-3 my-card">
                <div class="card-body d-flex flex-column">
                    <h4 class="card-title d-flex justify-content-between">
                        S.O. Quiz <i class="fas fa-pen-square pl-2"></i>
                    </h4>
                    <p>Quiz tomorrow about deadlocks.</p>
                    <button type="button" class="btn btn-outline-primary btn-block btn-sm mt-auto">
                        Delete
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>