<footer class="text-black-50 fixed-bottom my-footer p-2">
    <div class="container text-center">
      <small>Copyright &copy; <a href="https://github.com/daniatvm" class="text-black-50">Daniatvm</a></small>
    </div>
  </footer>